/* CSS Document */
/* ############################ Video ############################## */
video#vid {
	position: fixed;
	right: 0;
	bottom: 0;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	z-index: -100;
	background-size: cover;
	margin: 0 auto;
	outline: none;
	mask: radial-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.65) 45%, rgba(255, 255, 255, 0.45) 60%, transparent 75%);
	-webkit-mask: radial-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.65) 45%, rgba(255, 255, 255, 0.45) 60%, transparent 75%);
	filter: contrast(1.25);
	opacity: 0.4;
}
video#vid2 {
	mask: radial-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.65) 45%, rgba(255, 255, 255, 0.45) 60%, transparent 75%);
	-webkit-mask: radial-gradient(rgba(255, 255, 255, 1) 25%, rgba(255, 255, 255, 0.65) 45%, rgba(255, 255, 255, 0.45) 60%, transparent 75%);
	filter: contrast(1.25);
}
video#vid3 {
	position: fixed;
	right: -10%;
	bottom: -10%;
	min-width: 100%;
	min-height: 100%;
	width: 120%;
	height: 120%;
	z-index: -100;
	background-size: cover;
	margin: 0 auto;
	outline: none;
}
/* ########################### Clock  ############################### */
#clock {
	font-family: 'Share Tech Mono', monospace;
	text-align: center;
	background: #0f3854;
	background: radial-gradient(ellipse at center, #0a2e38 0%, #000000 80%);
	background-size: 100%;
	padding: 10px 5px 5px 5px;
	/*position: absolute;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);*/
	color: #daf6ff;
	text-shadow: 0 0 20px #0aafe6, 0 0 20px rgba(10, 175, 230, 0);
}
#clock .time {
	letter-spacing: 0.05em;
	font-size: 20px;
	padding: 5px 0;
	text-align: inherit;
}
#clock .date {
	letter-spacing: 0.1em;
	font-size: 14px;
	text-align: inherit;
}
#clock .text {
	letter-spacing: 0.1em;
	font-size: 10px;
	padding: 20px 0 0;
}
/* ########################### Others ############################### */
.wrapper {
	display: flex;
	justify-content: space-between;
}
.removingline {
	width: 100%;
	height: 1px;
	background: linear-gradient(to right, rgba(255, 255, 255, 0) 10%, rgba(255, 255, 255, 1) 40%, rgba(255, 255, 255, 1) 60%, rgba(255, 255, 255, 0) 90%);
}
.sticky {
	position: -webkit-sticky;
	position: sticky;
	z-index: 999;
	top: 0;
	background: #000;
}
.sticky_sidebar {
	min-width: 15%;
	height: 50%;
	max-width: 100%;
	/*min-height: 250px;
  max-height: 500px;*/
	z-index: 998;
	overflow: auto;
	position: -webkit-sticky;
	position: sticky;
	top: 10%;
}
@media (max-width: 767px) {
	.sticky_sidebar {
		position: relative !important;
		max-height: 100% !important;
	}
	.linkedinbar {
		margin-left: 20%;
	}
	.hidemobile {
		display: none;
	}
}
/* ########################### Navigation Bar ####################### */
*, :before, :after {
	box-sizing: border-box;
}
.unstyled {
	list-style: none;
	padding: 0;
	margin: 0;
}
.unstyled a {
	text-decoration: none;
}
.main-nav ul {
	border-right: solid 1px #3C3735;
}
.main-nav li {
	border-right: solid 1px #3C3735;
}
.main-nav a {
	padding: 1.1em 0;
	color: #777;
	font: 400 1.125em;
	font-weight: bold;
	text-align: center;
}
.main-nav a:hover {
	color: black;
	font-weight: bold;
}
.list-hover-slide li {
	position: relative;
	overflow: hidden;
}
.list-hover-slide a {
	display: block;
	position: relative;
	z-index: 1;
	transition: .35s ease color;
}
.list-hover-slide a:before {
	content: '';
	display: block;
	z-index: -1;
	position: absolute;
	left: -100%;
	top: 0;
	width: 100%;
	height: 100%;
	border-right: solid 5px #0898C8; /*#343a40;*/
	background: silver;
	transition: .35s ease left;
}
.list-hover-slide a.is-current:before, .list-hover-slide a:hover:before {
	left: 0;
}
/* ########################### Menu  ################################ */
.menu {
	display: flex;
	justify-content: center;
	align-items: flex-end;
	max-width: 720px;
	margin: 0 auto;
	height: 10vh;
	list-style: none;
	padding-right: 35px;
}
.menu li {
	width: 125px;
	height: 45px;
	transition: background-position-x 0.9s linear;
	text-align: center;
}
.menu li a {
	font-size: 22px;
	color: #B6B9C3;
	text-decoration: none;
	transition: all 0.45s;
}
.menu li:hover {
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0idXRmLTgiPz4KPHN2ZyB2ZXJzaW9uPSIxLjEi%0D%0AIGlkPSJMYXllcl8xIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHhtbG5zOnhs%0D%0AaW5rPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5L3hsaW5rIiB4PSIwcHgiIHk9IjBweCIKCSB3aWR0%0D%0AaD0iMzkwcHgiIGhlaWdodD0iNTBweCIgdmlld0JveD0iMCAwIDM5MCA1MCIgZW5hYmxlLWJhY2tn%0D%0Acm91bmQ9Im5ldyAwIDAgMzkwIDUwIiB4bWw6c3BhY2U9InByZXNlcnZlIj4KPHBhdGggZmlsbD0i%0D%0Abm9uZSIgc3Ryb2tlPSIjZDk0ZjVjIiBzdHJva2Utd2lkdGg9IjEuNSIgc3Ryb2tlLW1pdGVybGlt%0D%0AaXQ9IjEwIiBkPSJNMCw0Ny41ODVjMCwwLDk3LjUsMCwxMzAsMAoJYzEzLjc1LDAsMjguNzQtMzgu%0D%0ANzc4LDQ2LjE2OC0xOS40MTZDMTkyLjY2OSw0Ni41LDI0My42MDMsNDcuNTg1LDI2MCw0Ny41ODVj%0D%0AMzEuODIxLDAsMTMwLDAsMTMwLDAiLz4KPC9zdmc+Cg==");
	filter: grayscale(1);
	-webkit-animation: line 2s;
	animation: line 2s;
}
.menu li:hover a {
	color: #E0E1E5;
}
.menu li:not(:last-child) {
	margin-right: 30px;
}
@-webkit-keyframes line {
	0% {
		background-position-x: 390px;
	}
}
@keyframes line {
	0% {
		background-position-x: 390px;
	}
}
/* ########################### Ink Button ########################### */
@import url("https://fonts.googleapis.com/css?family=Lato:100,300,400");
@import url("https://fonts.googleapis.com/css?family=Roboto:100");
/** {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}*/
.button-container-1 {
	position: relative;
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 6vh;
	overflow: hidden;
	border: 1px solid;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	transition: 0.5s;
	letter-spacing: 1px;
}
.button-container-1 button {
	width: 101%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	background: #000;
	-webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/nature-sprite.png");
	-webkit-mask-size: 2300% 100%;
	mask-size: 2300% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(22) forwards;
	animation: ani2 0.7s steps(22) forwards;
}
.button-container-1 button:hover {
	-webkit-animation: ani 0.7s steps(22) forwards;
	animation: ani 0.7s steps(22) forwards;
}
.button-container-2 {
	position: relative;
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 7vh;
	overflow: hidden;
	border: 1px solid #000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 1px;
}
.button-container-2 button {
	width: 101%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	background: #000;
	-webkit-mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
	mask: url("https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png");
	-webkit-mask-size: 3000% 100%;
	mask-size: 3000% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(29) forwards;
	animation: ani2 0.7s steps(29) forwards;
}
.button-container-2 button:hover {
	-webkit-animation: ani 0.7s steps(29) forwards;
	animation: ani 0.7s steps(29) forwards;
}
.button-container-3 {
	position: relative;
	width: 100px;
	height: 50px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 8vh;
	overflow: hidden;
	border: 1px solid #000;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	transition: 0.5s;
	letter-spacing: 1px;
}
.button-container-3 button {
	width: 101%;
	height: 100%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	letter-spacing: 1px;
	background: #000;
	-webkit-mask: url("https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true");
	mask: url("https://github.com/robin-dela/css-mask-animation/blob/master/img/nature-sprite-2.png?raw=true");
	-webkit-mask-size: 7100% 100%;
	mask-size: 7100% 100%;
	border: none;
	color: #fff;
	cursor: pointer;
	-webkit-animation: ani2 0.7s steps(70) forwards;
	animation: ani2 0.7s steps(70) forwards;
}
.button-container-3 button:hover {
	-webkit-animation: ani 0.7s steps(70) forwards;
	animation: ani 0.7s steps(70) forwards;
}
.mas {
	position: absolute;
	color: #000;
	text-align: center;
	width: 101%;
	font-family: 'Lato', sans-serif;
	font-weight: 300;
	font-size: 20px;
	margin-top: 9px;
	overflow: hidden;
}
@-webkit-keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}
@keyframes ani {
	from {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
	to {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
}
@-webkit-keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}
@keyframes ani2 {
	from {
		-webkit-mask-position: 100% 0;
		mask-position: 100% 0;
	}
	to {
		-webkit-mask-position: 0 0;
		mask-position: 0 0;
	}
}
