---
const today = new Date();
---

<footer class="footer footer-center block mb-5 pt-10">
  <div class="pb-2">
    &copy; {today.getFullYear()} Ege Çetin
  </div>
  <div class="inline opacity-75">
    Dream no small dream. It lacks magic. Dream large. Then make the dream real.
  </div>
  <br>
  <div class="inline opacity-75">
    <b>Donald Douglas</b>
  </div>
</footer>
<style></style>
